/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.conteyner{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
}

.boxs{
    width: 100%;
    height: 15px;
    background-color: #FFFFEF;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__nav--link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #56593D;
}