/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.conteyner{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 30px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__nav--link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #56593D;
}
.header__icon{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__icon--image{
    width: 20px;
}

/* image */
.image{
    width: 100%;
    height: 740px;
    background-color: #FFFFEF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
}

.image__img{
    width: 1320px;
    height: 700px;
}

.images{
    z-index: 1;
    position: absolute;
    margin-top: 400px;
    margin-left: 740px;
    text-align: right;
}

.image__paragf{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #56593D;
    margin-bottom: 10px;
}

.image__text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #56593D;
    margin-bottom: 30px;
}

.image__button{
    padding: 16px 25px;
    border: none;
    background-color: #56593D;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
}

.texts{
    margin-bottom: 80px;
}

.texts__text{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 57px;
    color: #56593D;
    margin-bottom: 30px;
}

.texts__paragf{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
}

.texts__paragf--u{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #56593D;
}


/* box */
.box{
    width:100%;
    height: 738px;
    background-color: #FFFFEF;
    padding-top: 60px;
}

.box__text{
    margin-bottom: 75px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #56593D;
}


.cards{
    display: flex;
    justify-content: space-between;
}

.cards__card{
    text-align: center;
}

.cards__card--paragrf{
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #56593D;
}


/* hero */
.hero{
    width: 100%;
    height: 732px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.hero__image{
    background-image: url("image/Rectangle\ \(4\).png");
    background-size: contain;
}

.hero__image--paragrf{
    margin-top: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #56593D;
    margin-bottom: 25px;
}

.hero__image--text{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #56593D;
    margin-bottom: 25px;
}