/* roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.conteyner{
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 0 50px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
}

.header__nav{
    display: flex;
    align-items: center;
    gap: 35px;
}

.header__nav--link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #56593D;
}
.header__icon{
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__icon--image{
    width: 20px;
}

/* image */
.image{
    width: 100%;
    height: 732px;
    background-color: #FFFFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__img{
    width: 1300px;
    height: 700px;
}